doctype html

html(lang="en")
	head
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title dgdgdfg
		link(media="all" rel="stylesheet" href="css/main.css")
		script(src="js/jquery.main.js")
	body
		h1 Hello World!

		p Lorem ipsum dolor sit amet, consec

		p Lorem ipsum dolor sit amet, consec
		p Lorem ipsum dolor sit amet, consec
		p Lorem ipsum dolor sit amet, consec







